<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.repository.CuisineInfoMapper">
    <!-- マッピング定義(メニュー情報) -->
    <resultMap id="cuisineInfo" type="com.example.domain.cuisine.model.CuisineInfo">
        <id column="cuisine_id" property="cuisineId"/>
        <result column="cuisine_name" property="cuisineName"/>
        <result column="category" property="category"/>
        <result column="cook_date" property="cookDate"/>
        <result column="ingredients" property="ingredients"/>
    </resultMap>
    <!-- メニュー全件取得 -->
    <select id="getAllCuisine" resultMap="cuisineInfo">
        SELECT * FROM cuisine_master
    </select>
    <!-- メニュー登録 -->
    <insert id="registCuisine">
        INSERT INTO cuisine_master(cuisine_name, category) VALUES(#{cuisineName}, #{category})
    </insert>
    <!-- メニュー１件取得 -->
    <select id="getCuisineByName" resultMap="cuisineInfo">
        SELECT * FROM cuisine_master WHERE cuisine_name = #{cuisineName}
    </select>
    <!-- メニュー削除 -->
    <delete id="deleteCuisine">
        DELETE FROM cuisine_master WHERE cuisine_name = #{cuisineName};
    </delete>
</mapper>