<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.repository.CuisineInfoMapper">
    <!-- マッピング定義(ユーザー情報) -->
    <resultMap id="cuisineInfo" type="com.example.domain.cuisine.model.CuisineInfo">
        <id column="cuisine_id" property="cuisineId"/>
        <result column="cuisine_name" property="cuisineName"/>
    </resultMap>
    <!-- メニュー全件取得 -->
    <select id="getAllCuisine" resultType="CuisineInfo">
        SELECT * FROM cuisine_master
    </select>
</mapper>