<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.repository.UserInfoMapper">
    <!-- ユーザー１件登録 -->
    <insert id="insertOneUser">
        INSERT INTO user_master(user_id, user_name, password, gender) VALUES(#{userId}, #{userName}, #{password}, #{gender})
    </insert>
</mapper>