<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
    <head>
        <title>ユーザー詳細画面</title>
        <link rel="stylesheet" href="@{/css/user/list.css}">
    </head>
    <body>
        <div layout:fragment="content">
            <div class="header border-bottom">
                <h1 class="h2" th:text="#{user.info.detail}"></h1>
            </div>
            <form id="user-detail-form" method="post" th:action="@{/user/detail}" class="form-signup" th:object="${userDetailForm}">
                <!-- ユーザー詳細情報 -->
                <table class="table table-striped table-bordered table-hover">
                    <tbody>
                        <tr>
                            <th class="w-25" th:text="#{user.detail.userId}"></th>
                            <td th:text="*{userId}"></td>
                        </tr>
                        <tr>
                            <th th:text="#{user.detail.userName}"></th>
                            <td>
                                <input type="text" class="form-control" th:field="*{userName}">
                            </td>
                        </tr>
                        <tr>
                            <th th:text="#{user.detail.gender}"></th>
                            <!-- プロパティファイルから読み込みたい -->
                            <!-- ハードコーディング箇所調査して修正予定 -->
                            <td th:text="*{gender == 1 ? '男性' : '女性'}"></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </body>
</html>