<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
    <head>
        <link rel="stylesheet" th:href="@{/css/cuisine/list.css}">
        <title>メニュー詳細</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="header border-bottom">
                <h1 class="h2" th:text="#{cuisine.info.detail}"></h1>
            </div>
            <form id="cuisine-detail-form" method="post" th:action="@{/cuisine/detail}" class="form-signup" th:object="${cuisineDetailForm}">
                <!-- メニュー詳細情報 -->
                <table class="table table-striped table-bordered table-hover">
                    <tbody>
                        <tr>
                            <!-- メニュー名 -->
                            <th class="w-25" th:text="#{cuisine.detail.cuisineName}"></th>
                            <td th:text="*{cuisineName}"></td>
                        </tr>
                        <tr>
                            <!-- カテゴリ -->
                            <th th:text="#{cuisine.detail.category}"></th>
                            <td th:text="*{category}"></td>
                        </tr>
                        <tr>
                            <!-- 最近の調理日 -->
                            <th th:text="#{cuisine.detail.cookDate}"></th>
                            <td th:text="*{cookDate}"></td>
                        </tr>
                        <tr>
                            <!-- 食材 -->
                            <th th:text="#{cuisine.detail.ingredients}"></th>
                            <td>
                                <div th:each="item : ${ingredients}">
                                    <p th:text="${item}"></p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </body>
</html>