<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
    <head>
        <meta charset="UTF8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/cuisine/regist.css}">
        <title>メニュー登録</title>
    </head>
    <body class="bg-light" layout:fragment="content">
        <div class="text-center">
            <form method="post" th:action="@{/menu/regist}" th:object="${cuisineRegistForm}">
                <div class="form-regist">
                    <!-- 料理名 -->
                    <div class="form-group">
                        <label for="cuisineName" th:text="#{regist.cuisineName}"></label>
                        <input type="text" class="form-control" th:field="*{cuisineName}" th:errorclass="is-invalid">
                        <div class="invalid-feedback" th:errors="*{cuisineName}"></div>
                    </div>
                    <br>
                    <!-- 料理カテゴリー -->
                    <div class="form-check-inline">
                        <label for="cuisineCategory" th:text="#{regist.cuisineCategory}"></label>
                        <div class="categories" th:each="category:${cuisineCategories}">
                            <div class="category-item">
                                <input type="radio" class="form-check-input" th:value="${category}" th:field="*{category}">
                                <label class="form-check-label" th:text="${category}"></label>
                            </div>
                        </div>
                        <div class="invalid-feedback" th:errors="*{category}"></div>
                    </div>
                    <br>
                    <!-- 調理方法 -->
                    <div class="form-check-inline">
                        <label for="cookMethods" th:text="#{regist.cookMethod}"></label>
                        <div class="cookMethods" th:each="cookMethod:${cookMethods}">
                            <div class="cookMethod-item">
                                <input type="radio" class="form-check-input" th:value="${cookMethod}" th:field="*{cookMethod}">
                                <label class="form-check-label" th:text="${cookMethod}"></label>
                            </div>
                        </div>
                        <div class="invalid-feedback" th:errors="*{cookMethod}"></div>
                    </div>
                    <br>
                    <!-- 食材 -->
                    <div class="ingredient-category">
                        <div th:each="entry:${ingredientsMap}">
                            <p th:text="${entry.key}"></p>
                            <ul class="ingredients">
                                <div th:each="ingredient:${entry.value}">
                                    <input type="checkbox" class="form-check-input" th:value="${ingredient.getName()}" th:field="*{ingredientsAry}">
                                    <label class="ingredient" th:text="${ingredient.getName()}"></label>
                                </div>
                            </ul>
                        </div>
                    </div>
                    <input type="submit" th:value="#{cuisine.regist.btn}" class="btn btn-primary w-100 mt-3">
                </div>
            </form>
        </div>
    </body>
</html>