<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>メニュー管理プロジェクトホーム画面</title>
    </head>
    <body>
        <h1>This is Home</h1>

        <form method="get" action="/menu_search">
            <input type="submit" value="メニュー検索">
        </form>

        <form method="post" th:action="@{/menu_add}">
            <input type="text" name="menu_name" placeholder="メニュー名">
            <input type="submit" th:value="メニュー追加">
        </form>
        <p th:text="${result_message}"></p>
    </body>
</html>